.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.menu{
    padding: 20px;
    background-color:    #F0B429 ;
    height: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
   
}
.inicio{
    text-align: center;
    color: darkred;
    
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.twitter-tweet{
    align-items: center;
}
.pie {
    background-color: #b3b3b3;

}